<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markmzy.mywork.wx.dao.TbUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.markmzy.mywork.wx.model.TbUser">
        <id column="id" property="id"/>
        <result column="open_id" property="openId"/>
        <result column="nickname" property="nickname"/>
        <result column="photo" property="photo"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="hiredate" property="hireDate"/>
        <result column="role" property="role"/>
        <result column="root" property="root"/>
        <result column="dept_id" property="deptId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, open_id, nickname, photo, name, sex, tel, email, hireDate, role, root, dept_id, status, create_time
    </sql>

    <select id="haveRootUser" resultType="boolean">
        SELECT IF(COUNT(*), TRUE, FALSE)
        FROM tb_user
        WHERE root = 1;
    </select>

    <insert id="insertUser" parameterType="hashmap">
        INSERT INTO tb_user
        SET
        <if test="openId!=null">
            open_id = #{openId},
        </if>
        <if test="nickname!=null">
            nickname = #{nickname},
        </if>
        <if test="photo!=null">
            photo = #{photo},
        </if>
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="sex!=null">
            sex = #{sex},
        </if>
        <if test="tel!=null">
            tel = #{tel},
        </if>
        <if test="email!=null">
            email=#{email},
        </if>
        <if test="hiredate!=null">
            hiredate = #{hiredate},
        </if>
        role = #{role},
        root = #{root},
        <if test="deptName!=null">
            dept_id = ( SELECT id FROM tb_dept WHERE dept_name = #{deptName} ),
        </if>
        status = #{status},
        create_time = #{createTime}
    </insert>

    <select id="searchIdByOpenId" resultType="java.lang.Integer">
        SELECT id
        FROM tb_user
        WHERE open_id = #{openId}
          AND status = 1
    </select>

    <select id="searchPermissionsById" resultType="java.lang.String">
        SELECT DISTINCT p.permission_name
        FROM tb_user u
                 JOIN tb_role r ON JSON_CONTAINS(u.role, CAST(r.id AS CHAR))
                 JOIN tb_permission p ON JSON_CONTAINS(r.permissions, CAST(p.id AS CHAR))
        WHERE u.id = #{id}
          AND u.status = 1;
    </select>

    <select id="searchUserById" parameterType="int" resultType="com.markmzy.mywork.wx.model.TbUser">
        SELECT id,
               open_id,
               nickname,
               photo,
               name,
               sex,
               tel,
               email,
               hiredate,
               role,
               root,
               dept_id,
               status,
               create_time
        FROM tb_user
        WHERE id = #{userId}
          AND status = 1
    </select>

    <select id="searchNameAndDept" parameterType="int" resultType="java.util.HashMap">
        SELECT u.name, d.dept_name
        FROM tb_user u
                 LEFT JOIN tb_dept d ON u.dept_id = d.id
        WHERE u.id = #{userId}
          AND u.status = 1
    </select>

    <select id="searchHireDate" parameterType="int" resultType="java.lang.String">
        SELECT hiredate
        FROM tb_user
        WHERE id = #{userId}
          AND status = 1
    </select>

    <select id="searchUserSummary" resultType="java.util.HashMap">
        SELECT u.name, u.photo, u.hiredate as hireDate, d.dept_name as deptName
        FROM tb_user u
                 LEFT JOIN tb_dept d ON u.dept_id = d.id
        WHERE u.id = #{userId}
          AND u.status = 1;
    </select>

</mapper>