<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markmzy.mywork.wx.dao.TbUserMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.markmzy.mywork.wx.model.TbUser">
                    <id column="id" property="id"/>
                    <result column="open_id" property="openId"/>
                    <result column="nickname" property="nickname"/>
                    <result column="photo" property="photo"/>
                    <result column="name" property="name"/>
                    <result column="sex" property="sex"/>
                    <result column="tel" property="tel"/>
                    <result column="email" property="email"/>
                    <result column="hiredate" property="hiredate"/>
                    <result column="role" property="role"/>
                    <result column="root" property="root"/>
                    <result column="dept_id" property="deptId"/>
                    <result column="status" property="status"/>
                    <result column="create_time" property="createTime"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, open_id, nickname, photo, name, sex, tel, email, hiredate, role, root, dept_id, status, create_time
        </sql>

</mapper>