<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markmzy.mywork.wx.dao.TbCheckinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.markmzy.mywork.wx.model.TbCheckin">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="address" property="address"/>
        <result column="country" property="country"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="district" property="district"/>
        <result column="status" property="status"/>
        <result column="risk" property="risk"/>
        <result column="date" property="date"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, address, country, province, city, district, status, risk, date, create_time
    </sql>

</mapper>